.login-banner-wrap {
	height: 600px;
	background: url(/images/user/bannner.jpg) no-repeat center;
	
}

.login-form {
	width: 380px;
	padding: 19px;
	margin-top: 75px;
	line-height: 2;
	border: 1px #e8e8e8 solid;
	background-color: #fff;
}
.button:hover{
	background-color: #169cd5;
	border-radius: 60px;
	font-size:25px;
	
}	
	
	