<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.no1.cz.mapper.AdminMapper">
	<select id="login" parameterType="map" resultMap="BaseResultMap">
		select admin_name,admin_pwd from admin
		where admin_name=#{adminName} and
		admin_pwd=#{adminPwd}
	</select>
	
	<resultMap type="com.no1.cz.domain.Admin" id="BaseResultMap">
		<id column="admin_id" property="adminId" jdbcType="INTEGER" />
		<result column="admin_name" property="adminName"
			jdbcType="VARCHAR" />
		<result column="admin_pwd" property="adminPwd" jdbcType="VARCHAR" />
		
	</resultMap>

</mapper>