.common-price {
	color: #D70000;
	font-family: "å¾®è½¯é›…é»‘";
}

.common-emprice {
	color: #D70000;
	font-weight: bolder;
	font-family: "å¾®è½¯é›…é»‘";
}

.old-price {
	text-decoration: line-through;
}

.common-pagination {
	padding-right: 15px;
}
.container {
	padding-top: 0;
}

.sidebar {
	display: block;
	float: left;
	left: 0;
	width: 186px;
	padding-right: 4px;
	text-align: right;
	line-height: 20px;
}

.content-holder {
	float: left;
	width: 790px;
	_width: 785px;
	padding-bottom: 20px;
}
.book-essential-info {
	background: #fff;
}

.book-intro {
	position: relative;
	zoom: 1;
	min-height: 400px;
	_height: 400px;
	margin-top: 20px;
	border-bottom: 10px solid #f0f0f0;
	padding: 0 10px 26px 335px;
	background: #fff;
}

.book-title {
	margin: 0 10px;
	color: #333;
	font-size: 16px;
	font-family: "å¾®è½¯é›…é»‘";
	font-weight: bolder;
}

.book-adcontent {
	margin: 0 10px;
	color: red;
	font-size: 12px;
	font-family: "å¾®è½¯é›…é»‘";
	font-weight: bolder;
}

.book-cover {
	position: absolute;
	left: 0;
	top: 0;
	padding: 0 31px 0 26px;
	width: 280px;
}

.book-cover .ribbon {
	display: block;
	position: absolute;
	left: 28px;
	top: 9px;
	width: 32px;
	height: 81px;
	background: url(../../img/mall/ribbon.png) no-repeat top left;
	z-index: 1;
}

.book-cover .ribbon.buy-panel {
	background-position: -102px 0;
}

.book-cover .ribbon.red {
	background-position: -136px 0;
}

.book-cover .ribbon.orange {
	background-position: -68px 0;
}

.book-cover .ribbon.green {
	background-position: -34px 0;
}

.book-cover .ribbon.blue {
	background-position: 0 0;
}

.book-cover .cover-show {
	display: block;
	width: 280px;
	height: 280px;
	text-align: center;
}

.book-cover .evaluate {
	margin: 10px 0 10px 25px;
	padding-left: 4px;
	line-height: 24px;
}

.book-cover .evaluate img {
	margin-left: -7px;
	vertical-align: top;
}

.book-cover .share {
	height: 27px;
	padding-left: 4px;
	background: #FAFAFA;
	line-height: 27px;
}

.book-cover .share a {
	display: block;
	float: left;
	width: 16px;
	height: 16px;
	margin: 5px 16px 0 0;
	background: url("../../img/mall/ico-share.png") left top no-repeat;
	text-indent: -10000px;
}

.book-cover .share span {
	float: left;
	color: #999;
}

.book-cover .share .weibo {
	background-position: 0 -96px;
}

.book-cover .share .tencent {
	background-position: 0 -160px;
}

.book-cover .share .douban {
	background-position: 0 0;
}

.book-cover .share .renren {
	margin-right: 0;
	background-position: 0 -64px;
}

.book-cover .share .sohu {
	background-position: 0 -128px;
}

.book-cover .share .netease {
	background-position: 0 -32px;
}
.book-sale-info .book-activity {
	border-top: 1px solid #FFCC7F;
	border-bottom: 1px solid #FFCC7F;
	background-color: #FEF9F2;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 16px;
	color: #656565;
	_height: 20px;
	min-height: 20px;
}

.book-sale-info .book-activity p {
	line-height: 20px;
	font-family: "å¾®è½¯é›…é»‘";
}

.book-sale-info .book-activity a {
	color: #136DC1;
}

.book-sale-info .book-price {
	border-bottom: 1px dashed #E0E0E0;
	padding: 10px;
	padding-left: 13px;
	color: #333333;
	line-height: 25px;
}

.book-sale-info .book-price .old-price {
	font-family: Arial;
}

.book-sale-info .yuan {
	font-family: "å¾®è½¯é›…é»‘";
	font-size: 24px;
	font-weight: bolder;
	color: #D70000;
}

.book-sale-info .cent {
	font-family: "å¾®è½¯é›…é»‘";
	font-size: 18px;
	font-weight: bolder;
	color: #D70000;
}

.book-sale-info .book-other-info {
	border-bottom: 1px dashed #E0E0E0;
	padding: 10px;
	padding-left: 13px;
	color: #333333;
	line-height: 25px;
}

.book-sale-info .book-other-info a {
	color: #136DC1;
}

.book-sale-info .book-word-count {
	padding: 5px 13px;
	color: #878787;
}

.book-sale-info .buy-panel {
	margin-top: 15px;
	padding: 10px 10px 15px 13px;
	background: #F4F4F4;
	color: ##444444;
}

.book-sale-info .buy-panel .bargin-notice {
	margin-left: 20px;
	color: #666666;
}

.book-sale-info .buy-panel input {
	width: 30px;
	height: 16px;
	border: 1px solid #AAABAD;
}

.book-sale-info .buy-panel p {
	line-height: 27px;
}

.book-sale-info .buy-panel .add-to-cart {
	display: block;
	float: left;
	width: 160px;
	height: 45px;
	border: none;
	text-indent: -10000px;
}

.book-sale-info .buy-panel .sell {
	background: url(../../img/mall/btn-addToCart.png) left top no-repeat;
}

.book-sale-info .buy-panel .pre-sell {
	background: url(../../img/mall/btn-presell.png) left top no-repeat;
}

.book-sale-info .buy-panel .stockout {
	background: url(../../img/mall/btn-quehuodengji.png) left top no-repeat;
}

.book-sale-info .buy-panel .add-to-fav {
	display: block;
	float: left;
	height: 25px;
	margin: 13px 0 0 20px;
	padding-left: 20px;
	background: url(../../img/mall/ico-fav.gif) left center no-repeat;
	color: #136ec2;
	text-decoration: underline;
	line-height: 25px;
}

.buy-wrapper {
	margin-top: 5px;
}
/*****ä¹¦ç±æ‰©å±•ä¿¡æ¯*******/
.book-ext-info {
	/* border-bottom: 10px solid #f0f0f0; */
	padding: 20px 0;
	background: #fff;
}

.book-ext-info .detail-content {
	padding: 10px 5px 5px;
}

.book-ext-info .bargin-tip {
	display: block;
	position: relative;
	zoom: 1;
	height: 29px;
	border-top: 1px solid #ffcc7f;
	border-bottom: 1px solid #ffcc7f;
	padding-left: 38px;
	padding-right: 84px;
	background: #fef9f2 url(../../img/mall/chilun.png) 20px center no-repeat;
	line-height: 29px;
	overflow: hidden;
}

.book-ext-info .bargin-tip .check-detail {
	display: block;
	position: absolute;
	top: 0;
	right: 20px;
	height: 29px;
}

.book-ext-info .detail-item-wrapper {
	position: relative;
	padding-bottom: 33px;
}

.book-ext-info .detail-content h2 {
	height: 29px;
	margin: 5px 0;
	background: #F0F0F0;
	color: #333333;
	font-size: 14px;
	text-indent: 20px;
	line-height: 29px;
}

.book-ext-info .author-name {
	color: #136ec2;
	text-decoration: none;
}

.book-ext-info .desp-content {
	padding: 15px 20px 0;
}

.book-ext-info .desp-content .book-brief-contents {
	
}

.book-ext-info .desp-content .book-contents {
	overflow: hidden;
	padding-bottom: 5px;
	line-height: 22px;
}

.book-ext-info .desp-content p {
	text-indent: 2em;
	line-height: 22px;
}

.book-ext-info .dir-ctrl {
	display: block;
	float: right;
	width: 10px;
	height: 16px;
	margin-right: 10px;
	padding-left: 15px;
	background: url(../../img/mall/unfold-dir.gif) left 5px no-repeat;
	color: #136ec2;
	line-height: 22px;
}

.book-ext-info .fold {
	background-position: left -13px;
}

.book-ext-info .after-sale-service-content {
	
}

.book-ext-info .book-tag {
	padding: 5px 10px;
}

.book-ext-info .book-tag a {
	display: inline-block;
	zoom: 1;
	height: 20px;
	margin-right: 3px;
	border: 1px solid #ACCAE6;
	border-radius: 2px;
	padding: 0 10px;
	background: #f4f4f4;
	color: #136DC1;
	line-height: 20px;
}

/*--Page: ä¹¦ç±è¯„è®º
-----------------------------------------------------------------------------*/
.comment-content {
	padding: 8px 0 15px 0;
	background: #fff;
}
/*å›¾ä¹¦è¯„åˆ†éƒ¨åˆ†*/
.comment-content .score-holder {
	height: 120px;
	border-top: 1px solid #136EC2;
	background: #F0F0F0;
}

.comment-content .score-holder .score {
	float: left;
	width: 80px;
	height: 75px;
	margin-top: 5px;
	padding: 34px 15px 0;
	background: url(../../img/mall/bg-score.gif) right top repeat-y;
	text-align: center;
	color: #333333;
	line-height: 20px;
}

.comment-content .score-holder .score .score-percent {
	display: block;
	font-size: 24px;
	font-family: Arial;
	color: #D70000;
}

.comment-content .score-holder .score .prt-symbol {
	font-size: 14px;
	font-weight: bolder;
	font-family: Arial;
	color: #D70000;
}

.comment-content .score-holder .score img {
	float: left;
}

.comment-content .score-holder .rating {
	float: left;
	width: 232px;
	margin-top: 28px;
	_margin-top: 22px;
	height: 86px;
	padding: 0 20px 0 30px;
	background: url(../../img/mall/bg-score.gif) right top repeat-y;
}

.comment-content .score-holder .rating li {
	height: 20px;
	line-height: 20px;
}

.comment-content .score-holder .rating li div {
	float: left;
}

.comment-content .score-holder .rating .energy-bar {
	width: 100px;
	height: 12px;
	margin: 2px;
	border: 1px solid #D6D6D6;
	background: #E6E6E6;
	font-size: 0;
	line-height: 0;
}

.comment-content .score-holder .rating .energy-bar span {
	display: block;
	width: 0%;
	height: 100%;
	background: #F4B00B;
	text-indent: -10000px;
	font-size: 0;
	line-height: 0;
}

.comment-content .score-holder .score-text {
	float: left;
	width: 217px;
	margin-top: 50px;
	border-left: 1px solid #F3F2F1;
	padding: 0px 15px 0px 22px;
	line-height: 20px;
}

.comment-content .score-holder .btn-add-comment {
	float: left;
	padding-top: 60px;
}

.comment-content .score-holder .btn-add-comment a {
	display: block;
	width: 84px;
	height: 35px;
	background: url(../../img/mall/btn-addComment.png) left top no-repeat;
	text-indent: -10000px;
}

/*è¯„è®ºéƒ¨åˆ†*/
.comment-content .comment-wrapper {
	position: relative;
	zoom: 1;
	min-height: 200px;
	_height: 200px;
	margin-top: 25px;
	padding-left: 110px;
}

.comment-content .comment-wrapper .user-bar {
	position: absolute;
	left: 20px;
	top: 6px;
	width: 60px;
	text-align: center;
}

.comment-content .comment-wrapper .user-bar .avator {
	display: block;
	width: 60px;
	height: 60px;
	background: #ddd;
	overflow: hidden;
}

.comment-content .comment-wrapper .user-bar .avator img {
	width: 100%;
	height: 100%;
}

.comment-content .comment-wrapper .user-bar .user-name {
	padding: 15px 0;
	font-weight: bolder;
}

.user-bar .user-name>span {
	text-align: left;
	display: block;
	word-break: break-all;
	word-wrap: break-word;
}

.user-name span {
	text-align: left;
	display: block;
	word-break: break-all;
	word-wrap: break-word;
}

.comment-content .comment-wrapper .user-bar .user-name .user-grade {
	display: block;
	text-align: center;
}

.comment-content .user-name .user-grade img {
	margin: 0 -3px;
}

.comment-content .comment-count a {
	color: #136ec2;
	text-decoration: underline;
}

.comment-content .comment-wrapper .comment {
	position: relative;
	zoom: 1;
	border: 1px solid #E6E6E6;
	border-right: none;
	padding-top: 10px;
}

.comment-content .comment-wrapper .comment i {
	display: block;
	position: absolute;
	left: -9px;
	top: 15px;
	width: 9px;
	height: 16px;
	background: url(../../../resources/img/mall/tri.gif) left top no-repeat;
}

.comment-content .comment-wrapper h2 {
	margin: 0 15px 0 20px;
	font-size: 14px;
}

.comment-content .comment-wrapper h3 {
	margin: 0 15px 0 20px;
	color: #656565;
	font-weight: normal;
}

.comment-content .comment-wrapper .comment-txt {
	margin: 10px 15px 10px 20px;
	line-height: 20px;
}

.comment-content .share-wrapper {
	position: relative;
	zoom: 1;
	padding: 0 160px 0 18px;
	height: 25px;
	background: #f4f4f4;
	line-height: 25px;
}

.comment-content .share-wrapper span {
	line-height: 16px;
}

.comment-content .share-title {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 42px;
	height: 100%;
	color: #666666;
	text-align: right;
	line-height: 25px;
	vertical-align: middle;
}

.comment-content .icon-wrapper {
	display: block;
	width: 186px;
	height: 100%;
	padding: 0 5px;
	background: #FAFAFA;
}

.comment-content .icon-wrapper a {
	display: block;
	float: left;
	width: 16px;
	height: 16px;
	margin-top: 5px;
	margin-right: 16px;
	background: url("../../img/mall/ico-share.png") left top no-repeat;
	text-indent: -10000px;
	font-size: 0;
	line-height: 0;
	zoom: 1;
}

.comment-content .icon-wrapper .weibo {
	background-position: 0 -96px;
}

.comment-content .icon-wrapper .tencent {
	background-position: 0 -160px;
}

.comment-content .icon-wrapper .douban {
	background-position: 0 0;
}

.comment-content .icon-wrapper .renren {
	background-position: 0 -64px;
	margin-right: 0;
}

.comment-content .icon-wrapper .sohu {
	background-position: 0 -128px;
}

.comment-content .icon-wrapper .netease {
	background-position: 0 -32px;
}

.comment-content .praise {
	display: block;
	position: absolute;
	right: 86px;
	top: 0;
	height: 100%;
	padding-left: 20px;
	margin-right: 13px;
	background: url(../../../resources/img/mall/praise.gif) left 2px
		no-repeat;
	color: red;
	line-height: 25px;
}

.comment-content .praise:hover {
	color: red;
	text-decoration: none;
}

.comment-content .praise span {
	color: #333;
}

.comment-content .reply {
	display: block;
	position: absolute;
	right: 20px;
	top: 0;
	margin-left: 10px;
	color: #136DC1;
}

.comment-content .reply:hover {
	text-decoration: none;
	color: #136DC1;
}

.comment-content .reply span {
	color: #333;
}

.comment-content .comment-all-tip {
	padding: 15px 15px 0;
	text-align: right;
	color: #666666;
}

.comment-content .comment-all-tip a {
	color: #136EC2;
	text-decoration: underline;
}
/*é—®ç­”éƒ¨åˆ†*/
.book-info {
	position: relative;
	zoom: 1;
}

.book-ext-info .qa-content {
	
}

.book-info .iask {
	display: block;
	position: absolute;
	top: 0px;
	right: 20px;
	height: 28px;
	color: #136ec2;
	font-weight: bolder;
	text-decoration: underline;
	line-height: 28px;
}

.qa-content .qa-tip {
	position: relative;
	zoom: 1;
	margin-top: 10px;
	border-top: 1px solid #136EC2;
	padding: 12px 50px 12px 20px;
	background: #F0F0F0;
	line-height: 20px;
}

.qa-content .qa-tip .iwannaask {
	display: block;
	position: absolute;
	right: 15px;
	top: 6px;
	width: 83px;
	height: 31px;
	background: url(../../img/mall/btn-iask.png) left top no-repeat;
	text-indent: -10000px;
}

.qa-content .qa-list li {
	padding: 15px 23px 0;
	border-bottom: 1px solid #e6e6e6;
	color: #666;
}

.qa-content .qa-list .user-info {
	/* color: #136DC1; */
	border-bottom: 1px dashed #E6E6E6;
	line-height: 20px;
}

.qa-content .qa-list .question, .qa-content .qa-list .answer {
	position: relative;
	zoom: 1;
	padding-left: 65px;
	font-weight: normal;
}

.qa-content .qa-list .answer {
	margin-top: 5px;
	margin-bottom: 10px;
	color: #333;
}

.qa-content .qa-list .question {
	margin-top: 5px;
}

.qa-content .qa-list .question h2 {
	position: absolute;
	left: 0;
	top: 0;
	color: #fe4b07;
	font-weight: normal;
}

.qa-content .qa-list .answer h2 {
	position: absolute;
	left: 0;
	top: 0;
	color: #136EC2;
	font-weight: normal;
}

.qa-content .qa-list .question p {
	
}

.qa-content .qa-all-tip {
	padding: 15px 15px 0;
	text-align: right;
	color: #666;
}

.qa-content .qa-all-tip a {
	color: #136EC2;
	text-decoration: underline;
}

/**Page:å†™è¯„è®ºé¡µé¢æ ·å¼
-----------------------------------------------------------------------------*/
.book-rate-holder .book-info {
	background: #fff;
}

.rate-holder {
	padding: 15px 0;
	color: #333;
}

.rate-holder .control-group {
	position: relative;
	zoom: 1;
	margin-bottom: 10px;
	padding-left: 110px;
}

.rate-holder .control-group  .group-title {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 85px;
	height: 25px;
	text-align: right;
	color: #333333;
}

.rate-holder .control-group span {
	color: #666;
}

.rate-holder .rate {
	width: 19px;
	height: 19px;
	border: none;
	background: url(../../img/mall/xing-rate.jpg) center center no-repeat;
}

.rate-holder .rate-yellow {
	width: 19px;
	height: 19px;
	border: none;
	background: url(../../img/mall/xing-yellow.png) center center no-repeat;
}

.rate-holder .rate-title {
	width: 540px;
	height: 23px;
	border: 1px solid #e6e6e6;
}

.rate-holder .rate-content {
	width: 540px;
	height: 250px;
	border: 1px solid #e6e6e6;
}

.rate-holder .help-block {
	color: #666;
	line-height: 30px;
}

.rate-holder .form-action {
	padding-left: 110px;
}

.rate-holder .form-action button {
	display: block;
	width: 83px;
	height: 31px;
	border: none;
	background: url(../../img/mall/btn-submit-comment.png) center center
		no-repeat;
	text-indent: -10000px;
}

.remark-span {
	display: inline-block;
	text-align: center;
	height: 22px;
	font-size: 13px;
	line-height: 22px;
	border: solid 1px #0bc7fd;
	padding: 3px 5px;
	background-color: #e7fafe;
	min-width: 88px;
}

.remark-attr-val {
	display: inline-block;
	margin-left: 30px;
}

.remark-attr-val div {
	display: inline-block;
	padding: 3px 5px;
}

.attr-val-div {
	height: 22px;
	cursor: pointer;
	margin-right: 10px;
	border: dotted 1px #c0c0c0;
	background-color: #eeeeee;
	line-height: 22px;
}

.remark-attr {
	margin-bottom: 10px;
	height: 30px;
}

.attr-val-div-selected {
	border: dotted 1px #35ff68;
	background-color: #ddffdd;
}

/*--Page: æé—®é¢˜
-----------------------------------------------------------------------------*/
.rate-holder .question-submit button {
	display: block;
	background: url(../../img/mall/bg-submit-question.gif) center center
		no-repeat;
}
/*--Page: è¯„è®ºé¡µé¢
-----------------------------------------------------------------------------*/
#detailContent, .sidebar-bg {
	background: url(../../img/mall/bg-remark-sidebar.png) left top repeat-y;
}

.all-comment {
	position: relative;
	zoom: 1;
}

.all-comment .comment-sort {
	position: absolute;
	top: 0;
	right: 13px;
	height: 28px;
	font-weight: bolder;
	line-height: 28px;
}

.all-comment .comment-list {
	zoom: 1;
	height: 1%;
}

.all-comment .comment-sort select {
	border: 1px solid #7f9db9;
	padding: 1px;
}

.all-comment .iask-wrapper {
	padding-right: 16px;
	text-align: right;
	line-height: 40px;
}

.all-comment .iask-wrapper a {
	color: #136EC2;
	line-height: 40px;
	text-decoration: underline;
	font-weight: bolder;
}

.all-comment .comment-wrapper {
	position: relative;
	zoom: 1;
	margin-top: 30px;
	margin: 30px 15px 0 15px;
	border-bottom: 1px solid #e4e4e4;
	padding-left: 105px;
}

.all-comment .comment-wrapper .user-bar {
	position: absolute;
	left: 13px;
	top: 0px;
	width: 60px;
	text-align: center;
}

.all-comment .comment-wrapper .avator {
	display: block;
	width: 60px;
	height: 60px;
	background: #ddd;
	overflow: hidden;
}

.all-comment .comment-wrapper .avator img {
	width: 100%;
	height: 100%;
}

.all-comment .comment-wrapper .user-name {
	margin: 15px 0;
}

.all-comment .comment-wrapper .comment h2 {
	line-height: 14px;
	font-size: 14px;
}

.all-comment .comment-wrapper .comment h3 {
	margin: 5px 0;
	font-weight: normal;
	color: #666;
	line-height: 25px;
}

.all-comment .comment .comment-rate img {
	display: inline-block;
	zoom: 1;
	vertical-align: middle;
}

.all-comment .comment-txt {
	padding: 10px 0 20px 0;
}

.all-comment .praise {
	display: block;
	float: left;
	padding-left: 20px;
	background: url(../../../resources/img/mall/praise.gif) left 2px
		no-repeat;
	color: #666;
	line-height: 25px;
}

.all-comment .comment .reply {
	display: block;
	float: left;
	margin-left: 30px;
	color: #666;
	line-height: 25px;
}
/*--Page: å†™å›žå¤é¡µé¢
-----------------------------------------------------------------------------*/
.reply-holder .comment-wrapper {
	border-bottom: none;
}

.reply-holder .reply-form {
	margin-top: 25px;
	color: #666;
}

.reply-holder .reply-form .control-group {
	position: relative;
	zoom: 1;
	margin-bottom: 10px;
	padding-left: 110px;
}

.reply-holder .reply-form label {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 85px;
	height: 25px;
	text-align: right;
	color: #333
}

.reply-holder .reply-form textarea {
	border: 1px solid #e6e6e6;
	width: 536px;
	height: 180px;
}

.reply-holder .form-action {
	padding-left: 110px;
}

.reply-holder .form-action button {
	display: block;
	width: 83px;
	height: 31px;
	border: 0;
	background: url(../../img/mall/btn-reply.jpg) center center no-repeat;
	text-indent: -10000px;
}

/* ==========================================================================
--ç”¨äºŽå›¾ä¹¦é¡µé¢å±•ç¤ºå›žå¤
========================================================================== */
.reply-show-holder {
	margin: 10px 15px 10px 20px;
}

.reply-show-holder .one-replay {
	border-top: 1px dashed #ccc;
	line-height: 25px;
	word-wrap: break-word;
}

.reply-show-holder .one-replay .username {
	color: #136EC2;
	text-decoration: none;
}

.reply-show-holder .reply-meta {
	color: #9C9A9C;
}